#fp-nav ul li a span {
  background: #fff !important;
}
#fp-nav {
  top: auto !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 i !important;
  width: 100%;
}
#fp-nav ul {
  display: flex;
  justify-content: center;
}
